name: bunga_player
description: A video player which can let users watch together.

publish_to: "none" # Remove this line if you wish to publish to pub.dev

version: 1.3.5

environment:
  sdk: ">=3.10.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter

  # video play
  media_kit: ^1.2.2
  media_kit_video: ^2.0.0
  media_kit_libs_video: ^1.0.7
  wakelock_plus: ^1.4.0
  audio_session: ^0.2.2
  ffi: ^2.1.4

  # Communication
  agora_rtc_engine: ^6.5.3
  web_socket_channel: ^3.0.3

  # Update
  version: ^3.0.2
  open_file: ^3.5.10

  # Chatroom
  crclib: ^3.0.0

  # UI
  flutter_animate: ^4.5.2
  audioplayers: ^6.5.1
  animations: ^2.1.1
  file_selector: ^1.0.4
  window_manager: ^0.5.1
  flutter_markdown_plus: ^1.0.5
  flutter_lazy_indexed_stack: ^0.1.0
  chinese_font_library: ^1.2.0

  # Mobile
  screen_brightness: ^2.1.7

  # Popmoji
  flutter_svg: ^2.2.2
  lottie: ^3.3.2
  fireworks:
    git:
      url: https://github.com/joodo/fireworks
      path: fireworks

  # Network
  http: ^1.6.0

  # Utils
  logger: ^2.6.2
  shared_preferences: ^2.5.3
  async: ^2.13.0
  collection: ^1.19.1
  uuid: ^4.5.2
  json_annotation: ^4.9.0
  freezed_annotation: ^3.1.0
  get_it: ^9.0.5
  provider: ^6.1.5
  nested: ^1.0.0
  path: ^1.9.1
  path_provider: ^2.1.5
  win32: ^5.15.0
  permission_handler: ^12.0.1
  package_info_plus: ^9.0.0
  vector_graphics: ^1.1.19
  styled_widget: ^0.4.1
  crypto: ^3.0.7
  url_launcher: ^6.3.2

dependency_overrides:

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0
  flutter_launcher_icons: ^0.14.4
  build_runner: ^2.10.3
  json_serializable: ^6.11.1
  freezed: ^3.2.3
  yaml: ^3.1.3
  innosetup:
    git:
      url: https://github.com/joodo/flutter_innosetup

flutter:
  uses-material-design: true

  assets:
    - assets/images/
    - assets/emojis/
    - assets/emojis/emojis/
    - assets/sounds/

#  emoji loading too slow
#  https://github.com/flutter/flutter/issues/42586
#  fonts:
#    - family: noto_emoji
#      fonts:
#        - asset: assets/NotoColorEmoji-Regular.ttf

flutter_launcher_icons:
  android: true
  image_path_android: "assets/images/icons/android/play_store_512.png"
  min_sdk_android: 21 # android min sdk min:16, default 21

  ios: true
  image_path_ios: "assets/images/icons/ios/AppIcon~ios-marketing.png"

  web:
    generate: false
    image_path: "assets/images/icons/web/icon-512.png"
  windows:
    generate: true
    image_path: "assets/images/icons/windows.png"
    icon_size: 256 # min:48, max:256, default: 48
  macos:
    generate: true
    image_path: "assets/images/icons/macos.png"
